{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p><img src="/uploads/{{ user.picture }}" width="150px" height="100px"></p>
    <a href="{{ path('editProfile', { 'username': user.username } )}}">Edytuj profil</a>
</div>
