{% extends 'GameLibraryBundle::base.html.twig' %}

{% block body %}
    <h1>Add Game</h1>

    {{ form_start(form) }}
    <div>
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div>
        {{ form_label(form.producer) }}
        {{ form_widget(form.producer) }}
    </div>
    <div>
        {{ form_label(form.premiereDate) }}
        {{ form_widget(form.premiereDate) }}
    </div>
    <div>
        {{ form_label(form.categories) }}
        {{ form_widget(form.categories) }}
    </div>
        <input class="btn btn-lg btn-Success" type="submit" value="Create" />
    <a href="{{ path('category_new') }}" class="btn btn-lg btn-default" id="back" style="float: right;">Add a category</a>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('game_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
